<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/style/main.css" rel="stylesheet" type="text/css">
    <title>Додаткові послуги</title>
</head>
<body class="body">
    <a class="btn btn-outline-secondary" href="/" style="margin-left: 50px;">На головну</a>
    <h1 class="text-center">Список додаткових послуг</h1>
    <div class="table-responsive">
        <table class="table table-primary table-hover table-sm">
        <tr>
            <th>ID послуги</th>
            <th>Назва</th>
            <th>Ціна</th>
        </tr>
    <%for (var i = 0; i < Extra.length; i++){%>
        <tr>
            <td>
                <%= Extra[i].extraId%>
            </td>
            <td>
                <%= Extra[i].name%>
            </td>
            <td>
                <%= Extra[i].price%>
            </td>
            <td style="background-color: white;">
                <a class="btn btn-danger" href="/api/extra/delete/<%= Extra[i].extraId%>">
                    Видалити
                </a>
            </td>
            <td style="background-color: white;">
                <a class="btn btn-info" href="/api/extra/<%= Extra[i].extraId%>"> Редагувати</a>
            </td>
        </tr>
        <% } %>
    </table>
    </div>
    <h2 class="text-center">
        Додати додаткову послугу
    </h2>
    <form action="extra" method="POST" class="text-center">
        <div class="mb-3">
        <label class="form-label">
            ID послуги
            <input type="number" placeholder="id" class="form-control" id="extraId" name="extraId" min="1">
        </label class="form-label">
        <label class="form-label">
            Назва
            <input type="text" class="form-control" placeholder="name" id="name" name="name">
        </label>
        <label class="form-label">
            Ціна
            <input type="number" class="form-control" placeholder="price" id="price" name="price">
        </label> 
        </div>
        <button type="submit" class="btn btn-primary">Додати</button>
    </form>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
 integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
 crossorigin="anonymous"></script>
</body>

</html> 